button {
  border-radius: 10px;
  padding: 6px 12px;
  margin-top:10px;
  margin-right:10px;
  margin-bottom:10px;
}

entry {
  border-radius: 5px;
  padding: 6px;
  margin:10px;
}

.todo-label {
	margin-left:15px;
	font-size:15px;
}

